.loader-logo {
  position: fixed;
  inset: 0;
  background-color: var(--background);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease;
  overflow: hidden;

  div {
    display: inline-block;
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 600;
    font-size: clamp(12rem, 20vw, 17rem);

    span:first-child,
    span:last-child {
      color: var(--text-accent);
      display: inline-block;
    }

    span:nth-child(2){
        margin-inline: 16px;
    }

    span {
      display: inline-block;
    }
  }
}
