.loader-logo {
  position: fixed;
  inset: 0;
  background-color: var(--background);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease;

  .logo-wrapper {
    font-weight: 600;
    font-size: clamp(10rem, 20vw, 17rem);
    color: var(--text-primary);
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 0.2em;

    span:first-child,
    span:last-child {
      color: var(--text-accent);
    }
  }
}

.software {
    position: absolute;
    top: 20%;
    letter-spacing: 0.2rem;
    color: gray;
}

.developer {
    position: absolute;
    bottom: 20%;
    letter-spacing: 0.2rem;
    color: gray;
}