.about-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 10% ;

    .image {
        justify-self: center;
        align-self: center;
        padding: 16px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        padding: 24px;

        .about-me {
            
            h3 {
                font-size: 3rem;
                font-weight: 900;
                letter-spacing: 0.5rem;
                text-transform: uppercase;
                color: var(--text-color);
                margin-bottom: 1rem;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                text-align: justify;
                color: var(--text-main);
            }
        }

        .experience {
            h3 {
                font-size: 3rem;
                font-weight: 900;
                letter-spacing: 0.5rem;
                text-transform: uppercase;
                color: var(--text-color);
                margin-bottom: 1rem;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                text-align: justify;
                color: var(--text-main);
            }
        }
    }
}