.about-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 10%;

    @media  (max-width: 900px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        padding: 0;
    }

    .image {
        justify-self: center;
        align-self: center;
        padding: 24px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 24px;

        .about-me {
            
            h3 {
                font-size: clamp(2rem, 3vw, 3rem);
                font-weight: 900;
                letter-spacing: 0.5rem;
                text-transform: uppercase;
                color: var(--text-color);
                margin-bottom: 1rem;
            }

            p {
                text-align: justify;
                line-height: 1.4;
                color: var(--text-main);
            }
        }

        .experience {
            h3 {
                font-size: clamp(2rem, 3vw, 3rem);
                font-weight: 900;
                letter-spacing: 0.5rem;
                text-transform: uppercase;
                color: var(--text-color);
                margin-bottom: 1rem;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                text-align: justify;
                color: var(--text-main);
            }
        }
    }
}

.icons {
     display: grid; 
     grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); 
     width: 100%;
    gap: 8px;
}

.icon {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    box-shadow: 0 0px 3px -1px rgba(0, 0, 0, 0.2);


    span {
        font-size: 18px;
        font-weight: 500;
        margin-left: 12px;
        color: var(--text-main);
    }
}