<div class="section-header">
  <p>WHO AM I</p>
  <h1 class="section-title">Intr<span>o</span></h1>
  <p>INSIGH<span>T</span></p>

  <app-scroll-down />
</div>

<div class="about-container">
  <div class="content">
    <div class="about-me">
      <app-section-headings headingText="About" />

      <p class="first-message">
        I'm a software developer with a strong eye for detail and a passion for
        writing clean, precise code. I actively keep up with the latest
        technologies and continuously push myself to learn and grow. While I
        enjoy all things frontend, I also work on backend development when
        needed.
      </p>
    </div>

    <div class="container">
      <div class="box-card">
        <div class="face front">SOFTWARE</div>
        <div class="face back">BACKEND</div>
        <div class="face right">FRONTEND</div>
        <div class="face left">PUCENS</div>
        <div class="face top">EDGARS</div>
        <div class="face bottom">DEVELOPER</div>
      </div>
    </div>
  </div>

  <div>
    <app-section-headings headingText="Technologies" />

    <div class="marquee-wrapper">
      <div class="marquee-row">
        <div class="marquee-track row1">
          @for (icon of iconsRow1; track $index) {
          <app-tech-icon [icon]="icon" [iconSize]="iconSize" />
          } @for (icon of iconsRow1; track $index) {
          <app-tech-icon [icon]="icon" [iconSize]="iconSize" />
          }
        </div>
      </div>

      <div class="marquee-row">
        <div class="marquee-track row2">
          @for (icon of iconsRow2; track $index) {
          <app-tech-icon [icon]="icon" [iconSize]="iconSize" />
          } @for (icon of iconsRow2; track $index) {
          <app-tech-icon [icon]="icon" [iconSize]="iconSize" />
          }
        </div>
      </div>
    </div>
  </div>
</div>
