<div class="section-header">
  <p>WHO AM I</p>
  <h1 class="section-title">Intr<span>o</span></h1>
  <p>INSIGH<span>T</span></p>

  <app-scroll-down />
</div>

<div class="about-container">
  <div class="image">
    <img
      width="300px"
      src="assets/images/portfolio.jpg"
      alt="Portfolio image"
    />
  </div>

  <div class="content">
    <div class="about-me">
      <h3>About</h3>

      <div class="image-mobile">
        <img
          width="100%"
          src="assets/images/portfolio.jpg"
          alt="Portfolio image"
        />
      </div>

      <p>
        I'm a software developer with a strong eye for detail and a passion for
        writing clean, precise code. I actively keep up with the latest
        technologies and continuously push myself to learn and grow. While I
        enjoy all things frontend, I also work on backend development when
        needed.
      </p>
    </div>

    <div class="experience">
      <h3>Experience</h3>

      <div class="icons">
        @for (icon of icons; track $index) {
        <div class="icon">
          <img
            [src]="'assets/icons/' + icon.icon + '.svg'"
            [height]="iconSize"
            [width]="iconSize"
            [alt]="icon.name"
          />
          <span>{{ icon.name }}</span>
        </div>
        }
      </div>
    </div>
  </div>
</div>
