footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 205px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--background);
    padding: 0 16px;
    margin-bottom: 16px;
    z-index: -1;
    gap: 1rem;

    @media (max-width: 900px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 500px;
    }
}

.social-links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 16px 0;
    overflow: hidden;
    box-shadow: 0 0 10px -4px var(--shadow-color);
}

.social-links a {
  color: var(--text-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
  color: var(--text-primary);
  transform: translateY(-3px);
  cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    color: var(--text-primary);
    padding-bottom:  16px;
    box-shadow: 0 0 10px -4px var(--shadow-color);

    .location {
        display: flex;
        align-items: center;
        color: var(--text-primary);
        text-decoration: none;
    }

    .time {
        display: flex;
        align-items: center;

        svg {
            margin-right: 2px;
        }
    }
}

p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    color: var(--text-primary);
}

.share {
     box-shadow: 0 0 10px -4px var(--shadow-color);
}

.map-container {
  height: 150px;
  width: 100%;
  border-radius: 0px;
  z-index: 0;
}

.social-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 16px 0;
    overflow: hidden;
    box-shadow: 0 0 10px -4px var(--shadow-color);
}