.middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;

        .span-top {
            display: inline-block;
            margin-right: auto;
            text-transform: uppercase;
            margin-left: clamp(0px, 1%, 6px);
            font-size: clamp(1rem, 2vw, 22px);
            letter-spacing: clamp(0.2rem, 1vw, 0.5rem);
            color: var(--text-main);
            font-weight: 900;
        }

        .span-middle {
            color: var(--text-color);
            font-size: clamp(4.5rem, 15vw, 13rem);
            letter-spacing: clamp(0.5rem, 3vw, 2.5rem);
            font-weight: 900;
        }

        .last-letter {
            font-weight: 900;
            color: var(--text-color);
            font-size: clamp(4.5rem, 15vw, 13rem);
        }

        .span-bottom {
            display: block;
            text-align: end;
            font-weight: 900;
            font-size: clamp(1rem, 2vw, 22px);
            letter-spacing: clamp(0.2rem, 1vw, 0.5rem);
            color: var(--text-main);
        }
    }

 p span {
  display: inline-block; 
  white-space: pre;
}