.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100svh - 120px);
    background-color: var(--bg-color);

    p {
        font-size: clamp(1rem, 2vw, 22px);
        letter-spacing: clamp(0.2rem, 1vw, 0.5rem);
        color: var(--text-main);
        font-weight: 900;
        text-transform: uppercase;
        width: 100%;

        &:first-of-type {
            text-align: start;
        }
        &:last-of-type {
            text-align: end;

            span {
                letter-spacing: 0;
            }
        }
    }
}

.section-title {
    color: var(--text-color);
    font-size: clamp(4.5rem, 15vw, 13rem);
    letter-spacing: clamp(0.5rem, 3vw, 2.5rem);
    font-weight: 900;
    text-transform: uppercase;

    span {
        letter-spacing: 0;
    }
}

.test-font {
    font-family: 'MyFont', sans-serif;
    font-size: clamp(3.5rem, 16vw, 13rem);
    letter-spacing: clamp(0.5rem, 3vw, 2rem);
    color: var(--text-color);
    text-transform: uppercase;
}