<div class="section-header">
  <p>PROJECTS</p>
  <h1 class="section-title">Craf<span>T</span></h1>
  <p>IN COD<span>E</span></p>

  <app-scroll-down />
</div>

<div class="section-container">
  <div class="content content-1">
    <app-section-headings headingText="Dating site" />

    <h4 class="subtitle-1 first-message">
      Frontend and Backend Development, Design, Idea.
    </h4>

    @if (isMobile()) {
    <app-desktop-image srcImg="home-black-black.png" altText="Divi Tipi" />
    }

    <p class="first-message">
      A feature-rich dating platform with real-time chat, typing indicators,
      read receipts, notifications (email & push), online status, payments, and
      more.
    </p>
    <p class="first-message">
      Developed using TypeScript, React, Vite, Supabase, and Express — deployed
      on Firebase (frontend) and Railway (backend).
    </p>

    <div class="link">
      <a
        href="https://www.divitipi.lv"
        target="_blank"
        rel="noopener noreferrer"
        >www.divitipi.lv
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M6 8h5v2H6v8h8v-5h2v5a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2m10.614-2H12V4h8v8h-2V7.442l-5.336 5.336l-1.414-1.414z"
          />
        </svg>
      </a>
    </div>
  </div>

  @if (!isMobile()) {
  <app-desktop-image srcImg="home-black-black.png" altText="Divi Tipi" />
  }
</div>

<div class="section-container">
  @if (!isMobile()) {
  <app-desktop-image srcImg="table-white-black.png" altText="Fusion Ui" />
  }

  <div class="content content-2">
    <app-section-headings headingText="Ui Library" />

    <h4 class="subtitle2 second-message">Web Development, Design, Idea.</h4>

    @if (isMobile()) {
    <app-desktop-image srcImg="table-white-black.png" altText="Fusion Ui" />
    }

    <p class="second-message">
      I'm building this site using my own UI component library (published as an
      npm package) to serve as both a live demo and documentation. It showcases
      how the components work in a real-world setup.
    </p>

    <p class="second-message">
      The project was developed using Angular — deployed on Railway.
    </p>

    <div class="link">
      <a
        href="https://fusion-ui.up.railway.app/"
        target="_blank"
        rel="noopener noreferrer"
        >www.fusion-ui.com
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M6 8h5v2H6v8h8v-5h2v5a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2m10.614-2H12V4h8v8h-2V7.442l-5.336 5.336l-1.414-1.414z"
          />
        </svg>
      </a>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="content content-3">
    <app-section-headings headingText="Npm package" />

    <h4 class="subtitle3 third-message">Development, Design, Idea.</h4>

    @if (isMobile()) {
    <app-desktop-image srcImg="npm.png" altText="Fusion Ui npm" />
    }

    <p class="third-message">
      Responsive, type-safe Angular component library featuring a powerful Table
      component with built-in <code>localStorageKey</code> support to persist
      page, sort, and search state. Includes additional UI utilities like
      Buttons Directive, Icons Component, Tree Component and more to come.
    </p>

    <p class="third-message">
      The only truly type-safe Table component library you'll find for Angular
      on the web.
    </p>

    <div class="link">
      <a
        href="https://www.npmjs.com/package/ng-fusion-ui"
        target="_blank"
        rel="noopener noreferrer"
        >www.npmjs.com
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M6 8h5v2H6v8h8v-5h2v5a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2m10.614-2H12V4h8v8h-2V7.442l-5.336 5.336l-1.414-1.414z"
          />
        </svg>
      </a>
    </div>
  </div>

  @if (!isMobile()) {
  <app-desktop-image srcImg="npm.png" altText="Fusion Ui npm" />
  }
</div>
