.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(100svh - 160px);
    align-items: center;
    padding: 0 10%;
    margin-top: 32px;

    @media  (max-width: 900px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        padding: 0;
    }

    .content {
       padding: 24px;

            h3 {
                font-size: clamp(2rem, 3vw, 3rem);
                font-weight: 900;
                letter-spacing: 0.5rem;
                text-transform: uppercase;
                /* color: var(--text-color); */
                color: #e69c4830;
                margin-bottom: 0.5rem;
            }

            .subtitle {
                margin-bottom: 36px;
                font-size: 18px;
                font-weight: 600;

                @media  (max-width: 900px) { 
                    margin-bottom: 0px;
                }
            }

            p {
                font-family: "IBM Plex Sans", sans-serif;
                text-align: justify;
                line-height: 1.4;
                color: var(--text-main);
                margin-bottom: 36px;
            }


            .link  {
               a {
                display: inline-flex;
                align-items: center;
                gap: 0.4rem;
                color: var(--text-color);
               }  
            }
    }
 
    .mobile-image {
        padding: 4px;
        margin: 16px 0;
        /* background-color: var(--text-color); */

        @media  (min-width: 900px) {
            display: none;
        }
    }

    .image {
        align-self: center;
        padding: 24px;
        /* background-color: var(--text-color); */

        @media  (max-width: 900px) {
            display: none;
        }
    }
}

p {
    color: #ffffff20 !important;
}