.section {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--text-color);
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    z-index: 2;
    --maskX: 0%;
}

.title {
    font-size: 5rem;
    text-transform: uppercase;
}

.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('https://media.istockphoto.com/id/1597475039/photo/abstract-colorful-glass-background.jpg?s=612x612&w=0&k=20&c=Gv5iCYYzRnE7F_RwFDacJGmEgLfArYnkeyORu1umeZM=');
    background-size: cover;
    background-position: center;
    z-index: -1;
   

    mask-image: var(--mask-url);
    mask-size: cover;
    mask-position: center;
}
