/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    color-scheme: light dark;
}

.light-theme {
    color-scheme: light;

    --bg-color: #f7f5f9;
    --text-color: #0c516a;
    --text-main: #000;
}

.dark-theme {
    color-scheme: dark;

    --bg-color: #282d2e;
    --text-color: #ff4444;
    --text-main: #ecf2f6;
}

body {
    background: var(--bg-color);
    color: var(--text-main);
}