/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'MyFont';
  src: url('/assets/fonts/Twilight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, a, span {
     font-family: "Crimson Pro", serif;
}

:root {
    color-scheme: light dark;
}

.light-theme {
    color-scheme: light;

    --background: #f5f7fa;
    --foreground: #f5f7fa;

    --text-accent: #02b945;
    --text-primary: #1a1d23;
    --text-low: #1a1d231c;

    --shadow-color: #08080856;
    --backdrop-color: #def5fd10;
}

.dark-theme {
    color-scheme: dark;

    --background: #14161a;
    --foreground: #1a1d23;

    --text-accent: #02b945;
    --text-primary: #dfdfdf;
    --text-low: #f8f9f92a;
    
    --shadow-color: #00000095;
    --backdrop-color: #14161a3a;
}

body {
    background: var(--background);
    color: var(--text-primary);
}