/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'MyFont';
  src: url('/assets/fonts/Twilight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crimson Pro", serif;
}

:root {
    color-scheme: light dark;
}

.light-theme {
    color-scheme: light;

    --bg-color: #f5f7fa;       
    --text-main: #1a1d23;      
    --text-color: #0095ff; 
    --backdrop-color: #def5fd10;

    --arrow-color: #000;
}

.dark-theme {
    color-scheme: dark;

    --bg-color: #1a1d23;
    --text-color: #0095ff;
    --text-main: #f8f9f9;
    --backdrop-color: #242a3410;

    --arrorw-color: #fff;
}

body {
    background: var(--bg-color);
    color: var(--text-main);
}